<h>Events on Qype</h>
  <br>
Where are you now?
<%= render :partial => "search" %>
<br>

<% @events.each do |event| %>
  <% place = @qype.match_places(place_attributes(event.venue)).first %>
  <% unless place.blank? %>
    <div style="margin-bottom: 10px">
      <%= image_tag(event.image(:medium)) %> <%= event.title %> at <%= link_to place.title, place.qype_link %><br>
      <%= event.start_date %><br>
      <%= event.artists %><br>
      <%= event.description %><br>
      <%= event.attendance %><br>
    </div>
  <% end %>
<% end %>