<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDZ4CZqaTp1qaIccUL6F-XCd7xcS7sEMc4&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(53.551196,9.968719),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
        <% @events.each do |event| %>
          var marker_<%= event.eid %> = new google.maps.Marker({
              position: new google.maps.LatLng(<%= "#{event.venue.lat},#{event.venue.long}" %>),
              title: '<%= event.title %>'
          });
          var contentString_<%= event.eid %> = '<%= render :partial => "event_info", :locals => {:event => event} %>';
          var infowindow_<%= event.eid %> = new google.maps.InfoWindow({
              content: contentString_<%= event.eid %>
          });
          google.maps.event.addListener(marker_<%= event.eid %>, 'click', function() {
            infowindow_<%= event.eid %>.open(map,marker_<%= event.eid %>);
          });
          marker_<%= event.eid %>.setMap(map);
        <% end %>
      }
    </script>
  </head>
  <body onload="initialize()">
    <div id="map_canvas" style="width:100%; height:100%"></div>
  </body>
</html>